/* ---------------- About Section ---------------- */
.about-section {
  padding: 80px 50px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--accent);
}

.about-text {
  max-width: 800px;
  margin: 0 auto 60px auto;
  font-size: 18px;
  line-height: 1.8;
  color: var(--text-secondary);
}

.about-text .highlight {
  color: var(--highlight);
  font-weight: bold;
}


/* ---------------- Cards ---------------- */
.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
}



/* ترتيب اللابتوب */
.about-cards > .about-card:nth-child(1) { justify-self: start; }
.about-cards > .about-card:nth-child(2) {justify-self: end;grid-column: 3;grid-row: 1;}
.about-cards > .about-card:nth-child(3) { justify-self: center; grid-column: span 3; }

.about-card {
  width: 250px;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.about-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.about-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--accent);
}

.about-card p {
  font-size: 14px;
  color: var(--text-primary);
}

.about-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 22px 55px rgba(255, 0, 0, 0.4);
  background: var(--card-hover);
    transform: translateY(-10px);
  background:rgba(122, 75, 75, 0.445);
  box-shadow: 0 20px 40px rgb(255, 0, 0);
}

.about-card:hover img{
      transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(238, 238, 238, 0.7);
}

/* ---------------- Tablet / iPad ---------------- */
@media (max-width: 992px) {
  .about-cards { grid-template-columns: repeat(2, 1fr); }

  .about-cards > .about-card:nth-child(1) { justify-self: start; }
  .about-cards > .about-card:nth-child(2) { justify-self: end; }
  .about-cards > .about-card:nth-child(3) { justify-self: start; }
  .about-cards > .about-card:nth-child(4) { justify-self: end; }
  .about-cards > .about-card:nth-child(5) { justify-self: start; }
  .about-cards > .about-card:nth-child(6) { justify-self: end; }
}

/* ---------------- Mobile ---------------- */
@media (max-width: 768px) {
  .about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-card { width: 80%; }

  .about-card:nth-child(odd) { align-self: flex-start; }
  .about-card:nth-child(even) { align-self: flex-end; }

  .main-header { flex-direction: column; gap: 10px; }
}

/* ---------------- Footer ---------------- */
.main-footer {
  padding: 30px 50px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

.main-footer p { margin-bottom: 15px; }

.social-icons a {
  color: var(--accent);
  margin: 0 10px;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover { color: var(--highlight); }
